
.idea/workspace.xml
*.xml
*.xml
*.xml
*.xml
*.xml
TLM2008_Project/env
TLM2008_Project/static/img/POPtrade/WHAT_I_USED
__pycache__
venv
TLM2008_Project/static/img/POPtrade/WHAT_I_USED
env
*.pyc
*.pyc
