{%extends 'base_general.html'%}
{% block header %}
<title>Edit Profile</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/userpage.css')}}">
{% endblock%}

{%block content%}

<form class = "edit-profile" action="/auth/edit" method = "POST" enctype=multipart/form-data>

    <h1>Edit Profile</h1>
    
    {%if userInfo['profileImgUrl'] %}
    <div class="profile-pic">
        <img src="{{ url_for('static', filename=userInfo['profileImgUrl']) }}" alt="profile image">
    </div>

    <div class="uploadbox">
        <input class = "choose-file" type="file" accept="image/jpeg, image/png" name="image" id="image"/>
        <p>File type supported jpg, png</p>
    </div>

    {%else%}
    <div class="profile-pic">
        <img src="{{ url_for('static', filename='img/profile_image/profile-default.jpg') }}" alt="profile image">
    </div>

    <div class="uploadbox">
        <input class="choose-file" type="file" accept="image/jpeg, image/png" name="image" id="image"/>
        <p>File type supported jpg, png</p>
    </div>

    {%endif%}

    <div class = "list-input">
        <label for="username"><p>Username: </p></label>
        <input type="text" id="username" name="username" value="{{userInfo['username']}}" required>
    </div>

    <div class = "list-input">
        <label for="email"><p>Email: </p></label>
        <input type="email" id="email" name="email" value="{{userInfo['email']}}" required>
    </div>

    <div class = "list-input">
        <label for="contactNo"><p>Contact Number: </p></label>
        <input type="number" id="contactNo" name="contactNo" value="{{userInfo['contactNo']}}" required>
    </div>

    <input class = "edit-button" type="submit" value="Submit">
</form>
{%endblock%}